<div class="auth-page">

    <div class="auth-card">

        <div class="brand">

            <div class="brand-icon">
                N
            </div>

            <h1>
                Reset password
            </h1>

            <p>
                Create a new password for your NovaDesk account.
            </p>

        </div>

        @if (errorMessage()) {
        <div class="error-message">
            {{ errorMessage() }}
        </div>
        }

        @if (successMessage()) {
        <div class="success-message">
            {{ successMessage() }}
        </div>
        }

        <form [formGroup]="resetForm" (ngSubmit)="submit()" novalidate>

            <div class="form-group">

                <label for="password">
                    New password
                </label>

                <input id="password" type="password" formControlName="password" autocomplete="new-password"
                    placeholder="Enter new password" />

                @if (
                password.invalid &&
                password.touched
                ) {

                <small class="field-error">

                    @if (
                    password.hasError('required')
                    ) {
                    Password is required.
                    }

                    @else if (
                    password.hasError('minlength')
                    ) {
                    Password must be at least 8 characters.
                    }

                    @else if (
                    password.hasError('pattern')
                    ) {
                    Password must contain uppercase, lowercase,
                    number and special character.
                    }

                </small>

                }

            </div>


            <div class="form-group">

                <label for="confirmPassword">
                    Confirm password
                </label>

                <input id="confirmPassword" type="password" formControlName="confirmPassword"
                    autocomplete="new-password" placeholder="Confirm new password" />

                @if (
                confirmPassword.invalid &&
                confirmPassword.touched
                ) {

                <small class="field-error">

                    @if (
                    confirmPassword.hasError('required')
                    ) {
                    Please confirm your password.
                    }

                </small>

                }

            </div>


            <button type="submit" [disabled]="loading()">

                @if (loading()) {
                Resetting...
                } @else {
                Reset Password
                }

            </button>

        </form>


        <div class="back-link">

            <a routerLink="/login">
                ← Back to login
            </a>

        </div>

    </div>

</div>